---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="RappiSena.">
	<Navbar/>

	<div class="cardsContainer">
		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>

		<Card 
		oferta="Envio Gratis: Ver TyC"
		imgPlato="https://images.rappi.com/restaurants_background/21-1692115706167.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Burger Fast CC"
		tiempo={30}
		precio={3300}
		/>


		<Card 
		oferta="40% Off: min $35mil"
		imgPlato="https://images.rappi.com/restaurants_background/copietrapizzaartesanal-1675690592887.jpg"
		icono="https://images.rappi.com/restaurants_logo/pietra-logo-1568928470896.png"
		nombre="Pietra"
		tiempo={45}
		precio={6000}
		/>
	</div>

</Layout>

<style>
	

	
	.cardsContainer{
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: start;
		gap: 30px;
		padding: 0px 10px;
	}
</style>


